.a_propos_datas {
    margin: 25px auto 25px auto;
    width: 90%;
}

.collapse {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.collapse_title{
    background-color:#ff6060 ;
    margin: 0;
    width: calc(100% - 20px);
    height: 54px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    vertical-align: middle;
}

.collapse_content {
    background-color: whitesmoke;
    width: calc(100% - 20px);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0; /* Correction : retrait du "%" */
    color: black;
    padding: 10px;
}

.collapse_content_hidden {
    display: none;
}

.arrow {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.arrow_up {
    transform: rotate(0deg);
}

.arrow_down {
    transform: rotate(180deg);
}

@media (min-width: 320px) and (max-width: 480px) {
    .a_propos_datas{
        width: 95%;
    }

    .collapse{
        width: 100%;
    }

    .collapse_title{
        font-size: 13px;
        height: fixed(50px);
    }

    .collapse_content {
        font-size: 12px;
    }

    .arrow{
        width: 15px;
    }
}

